<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/incomePage.css">
	<title>{{user.login_name}}'s Incomepage</title>
</head>
<body>
	<div class="window-block">
		<div class="side-bar"> <!-- side bar -->
			<div class="img-cost" onclick="location.href='/articles/Costpage';" style="cursor: pointer;"></div>
			<div class="img-calender" onclick="location.href='/articles/Calenderpage';" style="cursor: pointer;"></div>
			<div class="img-home" onclick="location.href='/articles/Mainpage';" style="cursor: pointer;"></div>
			<div class="img-income" onclick="location.href='/articles/Incomepage';" style="cursor: pointer;"></div>
			<div class="img-profile" onclick="location.href='/articles/Mypage';" style="cursor: pointer;"></div>
		</div>
		<div class="main-box">

		</div>
	</div>
</body>
</html>