<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/loginpage.css">
        <link rel="stylesheet" type="text/css" href="/css/button.css">
    </head>
<header>
</header>
<section>
    <article>
        <form class="container pure-steps" action="/articles/checkID" method="post">
            <input type="radio" name="steps" class="pure-steps_radio" id="step-0" checked="">
            <div class="pure-steps_group">
                <ol>
                    <li class="pure-steps_group-step">
                        <fieldset>
							<legend class="pure-steps_group-step_legend">Sign in</legend>
							<div>
							<p class="pure-steps_group-step_item flexy-item flexy-column reverse">
								<input type="text" placeholder="Type your ID here" value="" name="title">
								<label class="form-label">ID</label>
							</p>
							</div>
							<div>
							<p class="pure-steps_group-step_item flexy-item flexy-column reverse">
								<input type="password" placeholder="Type your password here" value="" name="content">
								<label class="form-control">Password</label>
							</p>
							</div>
                        </fieldset>
                    </li>
                    <li></li>
                </ol>
                <ol class="pure-steps_group-triggers">
                    <li></li>
                    <li class="pure-steps_group-triggers_item">
						<label><button type="submit" class="btn-gradient green mini">SIGN IN</button></label>
                    </li>
                </ol>
            </div>
            <br>
        </form>
    </article>
</section>
</html>