<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sign in</title>
        <link rel="stylesheet" type="text/css" href="/css/loginpage.css">
        <link rel="stylesheet" type="text/css" href="/css/button.css">
    </head>
<header>
</header>
<section>
    {{#msg}}
    <div style="width: 300px; height:20px; background-color: rgba(130,200,160,1); display: inline-block;">
        <div class="alert alert-primary alert-dismissible">
            {{msg}}
        </div>
    </div>
    {{/msg}}
    <article>
        <form class="container pure-steps" action="/articles/checkID" method="post">
            <input type="radio" name="steps" class="pure-steps_radio" id="step-0" checked="">
            <div class="pure-steps_group">
                <ol>
                    <li class="pure-steps_group-step">
                        <fieldset>
							<legend class="pure-steps_group-step_legend" style="text-align: left;">Sign In</legend>
							<div>
							<p class="pure-steps_group-step_item flexy-item flexy-column reverse">
								<input type="text" placeholder="Type your ID here" value="" name="login_ID">
								<label class="form-label" style="text-align: left;">ID</label>
							</p>
							</div>
							<div>
							<p class="pure-steps_group-step_item flexy-item flexy-column reverse">
								<input type="password" placeholder="Type your password here" value="" name="login_pw">
								<label class="form-control" style="text-align: left;">Password</label>
							</p>
							</div>
                        </fieldset>
                    </li>
                    <li></li>
                </ol>
                <ol class="pure-steps_group-triggers">
                    <li></li>
                    <li class="pure-steps_group-triggers_item">
						<label><button type="submit" class="btn-gradient green mini">SIGN IN</button>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/articles/signup" class="btn-gradient green mini"><b>SIGN UP</b></a></label>
                    </li>
                </ol>
            </div>
            <br>
        </form>
    </article>
</section>
</html>