<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
		<title>{{user.login_name}}'s Mainpage</title>
	</head>
	<body>
		<header>
		</header>
		<nav>
		</nav>
		<section>
			<article>
			</article>
		</section>
		<div class="window-block">
			<div class="side-bar"> <!-- side bar -->
				<div class="img-cost" onclick="location.href='/articles/Costpage';" style="cursor: pointer;"></div>
				<div class="img-calender" onclick="location.href='/articles/Calenderpage';" style="cursor: pointer;"></div>
				<div class="img-home" onclick="location.href='/articles/Mainpage';" style="cursor: pointer;"></div>
				<div class="img-income" onclick="location.href='/articles/Incomepage';" style="cursor: pointer;"></div>
				<div class="img-profile" onclick="location.href='/articles/Mypage';" style="cursor: pointer;"></div>
				<!-- <div>
					<a href="/articles/Mypage">
						<img class="img-profile" src="image/Profile.png"/>
					</a>
				</div> -->
			</div>
			<div class="main-box"> <!-- main -->
				<div class="div50">
					<div class="cost-box"> <!-- monthly cost -->
						<div class="cost-text"><b>
							<pre class="cost-pont">costbox</pre>
							<br>
							<pre class="cost-pont">{{user.login_name}}</pre></b>
						</div>
					</div>
					<div class="income-box"> <!-- monthly income -->
						<div class="income-text"><b>
							<pre class="income-pont">incomebox</pre>
							<br>
							<pre class="income-pont">{{user.login_name}}</pre></b>
						</div>
					</div>
				</div>
				<div class="category-box"> <!-- category -->
					<div class="category-rank">
						<pre class="category-pont"><b>지출 카테고리 순위</b></pre>
					</div>
					<div class="circle-div">
						<div class="circle1" onclick="location.href='https://www.naver.com';" style="cursor: pointer;"><p>쇼핑</p></div>
						<div class="circle2" onclick="location.href='/hi';" style="cursor: pointer;"></div>
						<div class="circle3" onclick="location.href='new';" style="cursor: pointer;"></div>
						<div class="circle4" onclick="location.href='new';" style="cursor: pointer;"></div>
					</div>
				</div>
			</div>
		</div>
		<article>
			<header>
			</header>
			<footer></footer>
		  
			<article>
			  <header>
			  </header>
			</article>
		</article>
		<footer></footer>
	</body>
</html>