<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
		<title>{{user.login_name}}'s Mainpage</title>
	</head>
	<body>
		<header>
		</header>
		<nav>
		</nav>
		<section>
			<article>
			</article>
		</section>
		<div class="window-block">
			<div class="side-bar"> <!-- side bar -->

			</div>
			<div class="main-box"> <!-- main -->
				<div class="div50">
					<div class="cost-box"> <!-- monthly cost -->
						<div><pre>costbox</pre></div>
					</div>
					<div class="income-box"> <!-- monthly income -->
						<p>incomebox</p>
					</div>
				</div>
				<div class="category-box"> <!-- category -->
					<div class="category-rank">
						<pre class="category-pont"><b>지출 카테고리 순위</b></pre>
					</div>
					<div class="circle-div">
						<div class="circle1" onclick="location.href='new';"><p>쇼핑</p></div>
						<div class="circle2" onclick="location.href='new';"></div>
						<div class="circle3" onclick="location.href='new';"></div>
						<div class="circle4" onclick="location.href='new';"></div>
					</div>
				</div>
			</div>
		</div>
		<article>
			<header>
			</header>
			<footer></footer>
		  
			<article>
			  <header>
			  </header>
			</article>
		</article>
		<footer></footer>
	</body>
</html>