<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/myPage.css">
	<title>{{user.login_name}}'s Mypage</title>
</head>
<body>
	<div class="window-block">
		<div class="side-bar"> <!-- side bar -->
			<div class="img-cost" onclick="location.href='/articles/Costpage';"></div>
			<div class="img-calender" onclick="location.href='/articles/Calenderpage';"></div>
			<div class="img-home" onclick="location.href='/articles/Mainpage';"></div>
			<div class="img-income" onclick="location.href='/articles/Incomepage';"></div>
			<div class="img-profile" onclick="location.href='/articles/Mypage';"></div>
		</div>
		<div class="main-box">
			<div class="name-box">
				<div class="circle"></div>
				<pre class="name-text"><b>{{user.login_name}}</b></pre>
				<div class="logout-btn"><a href="/articles/logout" class="btn-gradient red mini"><b>LOG OUT</b></a></div>
			</div>
			<div class="category-box">
				<pre class="category-text"><b>카테고리 상세정보</b></pre>
				<div class="select-box">
					<select style="width: 80px; height: 30px;" name="category-selct-box">
						<option value="">선택</option>
						<option value="쇼핑">쇼핑</option>
						<option value="식비">식비</option>
						<option value="기타">기타</option>
					</select>
				</div>
				<div class="detail-box">
					<p class="detail-box-text">bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br>b<br></p>
				</div>
			</div>
			<div class="limit-box">
				<pre class="category-text"><b>나의 설정한도</b></pre>
			</div>
		</div>
	</div>
</body>
</html>